<!--footer block html-->
<!--<div class="container-fluid footer">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12 footer-inside">-->
      <!--<footer> <a href="#">-->
          <!--<h3>Playrummy.com</h3>-->
        <!--</a>-->
        <!--<div class="copyright">-->
          <!--<p>Copyright &copy; <%=(new Date()).getFullYear()%> Octro Inc. All right reserved</p>-->
        <!--</div>-->
      <!--</footer>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--footer block html-->
</div>
</div>
</div>
</div>
