<style>
    td {
      padding: 1rem;
    }
    .otpMobileNoRow, .userOtpRow {
      display: none;
    }
    .input-row {
      margin-top: 20%;
      position: relative;
    }

  </style>
  <div align="center">
    <div class="input-row">
      <form method="post" action="customer/uploadCustomerData" enctype="multipart/form-data">
         <input id="file" required type="file" name="file" style="margin-left: 35px;" accept=".csv"/>
        </br></br>
         <button type="submit">Upload</button>
      </form>
    </div>
  </div>
  </div>
  
